
.accordion {
  border-radius: 0.5em;
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 1em;
    width: 100%;
    text-align: center;
    border: none;
    outline: none;
    transition: 0.4s;
  }
  
  .active, .accordion:hover {
    background-color: #ccc;
  }
  
  
  .panel {
    padding: 0 1em;
    background-color: white;
    display: none;
    overflow: hidden;
  }
  
  .card{
    border-radius: 0.5em;
  }