  
<footer class="colorPrim">
    <div class="row">
      {% if app.user %}
      <div class="col-4">
        <p class="text-center">Bonjour {{app.user.firstname}}</p>
      </div>
      {% endif %}

  </footer>