{% extends 'base.html.twig' %}

{% block title %}Nouveau Projet{% endblock %}

{% block body %}
    <section>
        <div class="text-center">
            <h1 class="mb-5">Créer un nouveau projet</h1>

            <div class="col-12 col-md-8 col-lg-6 col-xxl-6 m-auto">
                {{ include('project/_form.html.twig') }}
            </div>
            <a class="btn colorPrim" href="{{ path('project_index') }}">Retour à l'Acceuil</a>
        </div>
    </section>
{% endblock %}
